# compiled output
dist
tmp
/out-tsc
cdk.out

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.local.env
__pycache__/
__pypackages__/
.env.local

# Environment files
.env
.env.local
.env.dev
.env.prod
packages/backend/.env
packages/webapp_bot/.env
packages/*/.env

# System Files
.DS_Store
Thumbs.db

# SaaS Boilerplate
.saas-boilerplate
.nx/cache
.vscode/

# Logs
logs/
**/logs/
*.log
.cursorignore
.cursorrules
.cursor/

packages/backend/public/*
!packages/backend/public/.gitkeep
scripts/venv
